/*Barra de navegacion*/
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Estilos Generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;  
    font-family: "Rubik Dirt", system-ui;  
}

/* Seccion Hero */
.hero {
    background-color: #EFEFEF;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;    
}

.hero-img-desarrollador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;   
    transition: opacity 0.5s ease-in-out;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}


/* sobre mi */
.hero-inferior{
    display: flex;     
    gap: 100px;
    background: #EFEFEF;  
    justify-content:flex-end;
   
}

.texto {
    background: #EFEFEF;
    margin-top: 40px ; 
    width: 50%;  
}

.curriculum-boton {
    margin-left: 2rem;
}

.hero-inferior-imagen {
    max-width: 500px;  /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción */    
}

@media (max-width: 1139px) {
    .hero-inferior{
        flex-direction: column;  
        align-items: center;
        gap: 0;       
    }
    .imagen{
        width: auto;
    }
    .texto{
        width: auto;
        margin: 20px;                
    }
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    margin-top: 2rem;
    margin-bottom: 2rem;    
    gap: 15px;
    row-gap: 15px; 
}

.stack {
    display: flex;
    gap: 30px;
    margin-top: 2rem;
}

.stack2 {
    display: flex;
    gap: 30px;
    margin: 2rem 0 2rem 0;
}



/* Adaptable(Responsivo) */

@media screen and (max-width: 767px){
    .navbar-brand {
        display: none;
    }    
}

@media screen and (max-width: 700px) {
    .hero-inferior-imagen {
        width: auto;
    }    
}

@media screen and (max-width: 452px){
    .stack {
        flex-wrap: wrap;
    }    
    .stack2 {
        flex-wrap: wrap;
    }    
}
